---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/deposits/create
    body:
      encoding: UTF-8
      string: '{"amount":3.21,"currency":"EUR"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - f1d3007d-5686-4aee-b6ec-ae31994682b4
      Api-Nonce:
      - '1454581946793940'
      Api-Sign:
      - Q58yixZAefySAjiMKxaFeal4e5sfyuxhTIxL+7bX/Lp7KU0APYFoXkcOK6/ZfOVkj+tNUcnCO/R6nLUdEV1oXw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"5af4af8b-1b02-438a-a71b-d1c802ca1bde","status":"pending","deposit":{"amount":3.21,"currency":"EUR"},"details":{"created_at":"2016-02-04T10:32:27+0000","updated_at":"2016-02-04T10:32:27+0000","exchange_rate":334.13,"amount_deposited":"0.00000000","amount_to_deposit":"0.00972657","total_amount":"0.00972657","account_id":891,"valid_until":"2016-02-04T11:02:27+0000","address":"mk4ehqMjYnqczidMPtTHhttFWeK9BbpSXW","wallet_url":"bitcoin:mk4ehqMjYnqczidMPtTHhttFWeK9BbpSXW?amount=0.00972657","num_confirmations":0}}}'
  recorded_at: Thu, 04 Feb 2016 10:32:27 GMT
recorded_with: VCR 2.9.3
