---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/billpays/withdraw
    body:
      encoding: UTF-8
      string: '{"amount":0.02,"currency":"EUR","based_on":"db44f688-3948-4b83-b350-817effb4809c"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - f1d3007d-5686-4aee-b6ec-ae31994682b4
      Api-Nonce:
      - '1454583491929497'
      Api-Sign:
      - 1ADyLBew5sm19kA3Fudh52rW2km3AIFIVo8NbDIE/ay5tFw94tLUVrjz+gl8y7rowS0MVOM9rraMmPyViH4jkw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"d96140dd-f784-4b78-aeb7-a339d6749b8e","status":"confirmed","recipient":{"name":"rty","address":"rty","postal_code":"555","city":"rty","country_code":"AS","country_name":"American
        Samoa"},"payment":{"iban":"LT12 1000 0111 0100 1000 ","bic":"BPHKPLPK","amount":0.02,"currency":"EUR"},"details":{"type":"withdraw","account_id":"891","created_at":"2016-02-04T10:58:12+0000","updated_at":"2016-02-04T10:58:12+0000","fee":0}}}'
  recorded_at: Thu, 04 Feb 2016 10:58:12 GMT
recorded_with: VCR 2.9.3
