---
http_interactions:
- request:
    method: get
    uri: https://cashila-staging.com/api/v1/account/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - f1d3007d-5686-4aee-b6ec-ae31994682b4
      Api-Nonce:
      - '1454583249197978'
      Api-Sign:
      - lUEFbyvlgviApGPkXaQ6ReVKRho46QWJ1ogefHcoK+Q8zC+fdAaiYNgr+OH1IZY5mC7Dr2B+V4TxSvyQstaAtg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"EUR":{"balance":3.21,"available":3.21}}}'
  recorded_at: Thu, 04 Feb 2016 10:54:09 GMT
recorded_with: VCR 2.9.3
