---
http_interactions:
- request:
    method: post
    uri: https://cashila-staging.com/api/v1/request-signup
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"token":"7c0324b1-d49d-47dd-a954-1bdf4a32fab0","secret":"XPvpoQm8c4KQx\/atciVoJzX4anlMJIk6\/HIcVKDQIq8P8iEw+ri4K2Y7oT5sFcHH0Ei86f1vr\/pfttWxQ4SutA=="}}'
  recorded_at: Fri, 19 Feb 2016 14:53:51 GMT
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"gear@mycelium.com","password":"cashila_password","second_factor":""}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 7c0324b1-d49d-47dd-a954-1bdf4a32fab0
      Api-Nonce:
      - '1455893631543114'
      Api-Sign:
      - 0/ooQ6oW9uXSIT6Cv/ABr/fp0vS+fLJE+oFg6dEzy+tsNnz9+Ba0+4slruA6LDFb/gZIZFmAmzgQ+dJjyvtpfw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Fri, 19 Feb 2016 14:53:51 GMT
recorded_with: VCR 3.0.1
