---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/recipients/af1cfdf9-be92-46a4-b6b0-a606a86b1e7a
    body:
      encoding: UTF-8
      string: '{"name":"Rena Med","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","bic":"BPHKPLPK","iban":"LT121000011101001000"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 40b0c81d-626e-4cf6-af79-75fb92800f32
      Api-Nonce:
      - '1434649942138761'
      Api-Sign:
      - inRfdFxnp+8xRb4o8CTQT01P36ypeu0+FkP+zmptp2DRPY9a85NEDtkCEwJHYxC171koIn/1HPuJP0UlExSeIw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"af1cfdf9-be92-46a4-b6b0-a606a86b1e7a","name":"Rena
        Med","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania","last_used":"2015-06-18T17:49:29+0000"}}'
  recorded_at: Thu, 18 Jun 2015 17:52:22 GMT
recorded_with: VCR 2.9.3
