---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/billpays/create
    body:
      encoding: UTF-8
      string: '{"amount":1.21,"currency":"EUR","based_on":"af1cfdf9-be92-46a4-b6b0-a606a86b1e7a"}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 40b0c81d-626e-4cf6-af79-75fb92800f32
      Api-Nonce:
      - '1434707092130853'
      Api-Sign:
      - x2+NV+Hrkn2W78XcTenGZKOONVqU1hh/L8jhKDmPzHD9j4J8bzIdb1kud1aE7570tkTXT36VMo0wMNQUbUSsQQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"dce801a6-2a01-4b37-b77b-5e609724b8be","status":"pending","recipient":{"name":"Rena
        Med","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT","country_name":"Lithuania"},"payment":{"iban":"LT12
        1000 0111 0100 1000 ","bic":"BPHKPLPK","amount":1.21,"currency":"EUR"},"details":{"created_at":"2015-06-19T09:44:52+0000","updated_at":"2015-06-19T09:44:52+0000","fee":0.02,"exchange_rate":217.22358606,"amount_deposited":"0","amount_to_deposit":"0.00566236","total_amount":"0.00566236","wallet_url":"bitcoin:mszb3RpMpBDrk78eEQqBWVvH3AHnPgYkoG?amount=0.00566236","valid_until":"2015-06-19T10:14:52+0000","address":"mszb3RpMpBDrk78eEQqBWVvH3AHnPgYkoG"}}}'
  recorded_at: Fri, 19 Jun 2015 09:44:52 GMT
recorded_with: VCR 2.9.3
