---
http_interactions:
- request:
    method: get
    uri: https://cashila-staging.com/api/v1/verification
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 40b0c81d-626e-4cf6-af79-75fb92800f32
      Api-Nonce:
      - '1452840204734342'
      Api-Sign:
      - P05I/hcHhjqEKk26iODrBJGSk/z4/bLI4o42u3ioVs8PM6s9Si6UuLs4WsexlKvXEUJgR+hNkjtj0UbjAmQvmQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"status":"pending","is_company":false,"first_name":"Example","last_name":"Xample","address":"somewhere","city":"Vilnius","postal_code":"000000","country_code":"LT","gov-id-front":{"present":true,"approved":false},"gov-id-back":{"present":true,"approved":false},"residence":{"present":true,"approved":false}}}'
  recorded_at: Fri, 15 Jan 2016 06:43:25 GMT
recorded_with: VCR 2.9.3
