---
http_interactions:
- request:
    method: put
    uri: https://cashila-staging.com/api/v1/account
    body:
      encoding: UTF-8
      string: '{"account":{"email":"alerticus@gmail.com"},"verification":{"first_name":"Example","last_name":"Xample","address":"somewhere","postal_code":"000000","city":"Vilnius","country_code":"LT"}}'
    headers:
      Content-Type:
      - application/json
      Api-Client:
      - 92c91f99-c157-41cd-864b-1b675bfcf919
      Api-User:
      - 40b0c81d-626e-4cf6-af79-75fb92800f32
      Api-Nonce:
      - '1434534847963186'
      Api-Sign:
      - nx5eQFu+vBDfccpXJZJDNaPWfL4fnGoaQG/Hb0xxWsrMd17anhVRFHrFxGTvEuwl1SW13qPMeVGqciCfT92mzg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":{}}'
  recorded_at: Wed, 17 Jun 2015 09:54:09 GMT
recorded_with: VCR 2.9.3
